.smallNum,.smallWat {
    background-color: rgb(19, 21, 21);
    height: 120px;
    color: white;
    width: 75px;
    display: flex;
    justify-content: center;
    margin: 0%;
    border-radius: 10px;
    border: 2px solid  rgb(29, 28, 28);


}   
.smallNum > p,i{
    margin: auto;
    font-size: 70px;
    font-family: 'DM Serif Display', serif;
}

.smallWat{
    width: 95px;

}